include contributing.md
include changelog.md
include LICENSE
include README.md
include requirements.txt
include lidar/data/*.*

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * levelset.py


recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
